name: Cobrinha Rosa

on:
  # Roda automaticamente a cada 24 horas (meia-noite)
  schedule:
    - cron: "0 0 * * *" 
  
  # Permite você clicar no botão para rodar agora
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - uses: Platane/snk@v3
        id: snake-gif
        with:
          github_user_name: ${{ github.repository_owner }}
          # Aqui estão as cores: Fundo escuro, e os quadradinhos vão do rosa bebê ao roxo
          outputs: |
            dist/github-contribution-grid-snake.svg?color_snake=#ffb6c1&color_dots=#161b22,#ffeaf0,#ffadd0,#ff69b4,#bf55ec
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: crazy-max/ghaction-github-pages@v2.1.3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
